<style type="text/css">
    #mdvreports_views_f0_index table th {
        padding: 2px;
        border: 1px solid black;
        font-weight: bold;
    }
    #mdvreports_views_f0_index table td {
        padding: 2px;
        border: 1px solid black;
    }
</style>
<div id="mdvreports_views_f0_index">
    <table>
        <tr>
            <th>Наименование</th>
            <th>Кол-во в заявке</th>
            <th>Кол-во в спецификации</th>
            <th>Кол-во в накладных 1С</th>
            <th>Кол-во к отгрузке</th>
            <th>Менеджер</th>
            <th>Контракт</th>
            <th>Дата окончания котракта</th>
            <th>Аукцион</th>
            <th>Заказчик</th>
        </tr>
        <tr>
            <td>qsssssssssssssssssss sssssssssssssssssss fggggggggggggggggggg jjjjjjjjjjjjjjj</td>
        </tr>
    </table>
</div>
